:root {
  --header-color: white
}

.header {
  width: 100%;
  padding: 5px;

  color: var(--header-color);
  background-color: black;

  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
}

.header a {
  color: var(--header-color);
}
